*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 90%;
    
    
}

.container1 img{
  width:100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin: 1em;
  text-align: center;
  height: 50%;

}
.container1{
    margin: 1em;
    text-align: center;
}
.principal{
    display: flex;
    width: 200%;
    
    justify-content: space-evenly;
}

* {
      box-sizing: border-box;
    }

body {
      background-color: #0e0e12;
      color: white;
      min-height: 100vh;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Abel", sans-serif;
    }

.carousel {
      --items: 6;
      --carousel-duration: 40s;
      --carousel-width: min(80vw, 1200px);
      --carousel-item-width: 280px;
      --carousel-item-height: 450px;
      --carousel-item-gap: 2rem;

      position: relative;
      width: var(--carousel-width);
      height: var(--carousel-item-height);
      overflow: hidden;
      mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    }

.carousel:hover article {
      animation-play-state: paused;
    }

.carousel article {
      position: absolute;
      top: 0;
      left: calc(100% + var(--carousel-item-gap));
      width: var(--carousel-item-width);
      height: var(--carousel-item-height);
      display: grid;
      grid-template-rows: 200px auto 1fr auto;
      gap: 0.25rem;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.05);
      color: white;
      animation: marquee var(--carousel-duration) linear infinite;
    }

.carousel article:nth-child(1) { animation-delay: calc(var(--carousel-duration) / var(--items) * 0 * -1); }
.carousel article:nth-child(2) { animation-delay: calc(var(--carousel-duration) / var(--items) * 1 * -1); }
.carousel article:nth-child(3) { animation-delay: calc(var(--carousel-duration) / var(--items) * 2 * -1); }
.carousel article:nth-child(4) { animation-delay: calc(var(--carousel-duration) / var(--items) * 3 * -1); }
.carousel article:nth-child(5) { animation-delay: calc(var(--carousel-duration) / var(--items) * 4 * -1); }
.carousel article:nth-child(6) { animation-delay: calc(var(--carousel-duration) / var(--items) * 5 * -1); }

.carousel img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }

.carousel article > *:not(img) {
      padding: 0 1rem;
    }

.carousel article div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 0.8rem;
    }

.carousel h2 {
      font-size: 1.2rem;
      font-weight: 300;
      margin: 0.5rem 0;
    }

.carousel a {
      text-decoration: none;
      text-transform: lowercase;
      border: 1px solid #00aaff;
      color: #00aaff;
      border-radius: 3px;
      padding: 0.25rem 0.5rem;
      align-self: start;
      transition: 150ms ease-in-out;
    }

.carousel a:hover {
      background-color: #00aaff;
      color: white;
    }

@keyframes marquee {
      100% {
        transform: translateX(calc((var(--items) * (var(--carousel-item-width) + var(--carousel-item-gap))) * -1));
      }}